{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-sm-3 col-xs-12" style="background-color: red;">
                {{ request.user }}
        </div>
        <div class="col-sm-9">
            {% if not request.GET.q %}
                <div class="">
                    {% include "tweets/form.html" with form=create_form action_url=create_url btn_title="Tweet" %}
                </div>
            {% endif %}
            <hr>
            {% for object in object_list %}
                <div class="media">
                    {% if object.image %}
                        <img class="mr-3" src="..." alt="Generic placeholder image">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        {{ object.content }}<br/>

                        {{ object.user }}<br>
                        {{ object.timestamp | timesince }} ago | <a href="{{ object.get_absolute_url }}">View</a>
                    </div>
                </div>
                <hr>
            {% empty %}
                {% if request.GET.q %}
                    <p>No tweets found.</p>
                {% else %}
                    <p>No tweets yet.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock content%}